{% extends "main/wrapper.html"%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-inner">
                <ul class="breadcrumb">
                    <li><a href="/">Главная страница </a> </li>
                   <li class="active">  \  О сайте</li>

                </ul>

                <h1>О нас</h1>
                <p>Сайт был сделан с <strong>целью сделать доступной мировую статистику </strong>
                    в задумчивом и актуальном формате для широкой аудитории по всему миру.
                    Он опубликован абитуриентом Кыргызского государственного технического университета. У нас нет политической, правительственной или корпоративной принадлежности. </p>
                <h3>Как это работает </h3>
                <p><strong>Для данных COVID-19</strong>, <span class="text-theme">мы собираем данные из официальных отчетов, непосредственно из <strong>каналов Правительской коммуникации</strong>
                    или косвенно, через местные средства массовой информации, когда это считается надежным. Мы предоставляем источник каждого обновления данных в секции "Последние новости". Своевременные обновления становятся возможными благодаря участию пользователей по всему миру и
                    преданности команды аналитиков и исследователей, которые проверяют данные из постоянно растущего списка из более чем 5000 источников.</span></p>
                <p><strong>Для счетчиков в реальном времени</strong> на <a href="/">главной странице</a>,
                    мы разработали оценку в реальном времени с помощью нашего собственного алгоритма, который обрабатывает самые последние данные и прогнозы, предоставленные
                    <a href="https://www.worldometers.info/coronavirus/">наиболее авторитетными организациями и статистическими управлениями в мире</a>.
                </p>

                <h3>Вопросы и отзывы </h3>
                <p>Пожалуйста, обратитесь к <a href="/faq/">часто задаваемым вопросам</a>. По другим вопросам или чтобы отправить нам свой отзыв, пожалуйста, <a href="/contact/">свяжитесь с нами</a>.</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="col-md-4 adright"></div>
    </div>
</div>
{% endblock %}