{% extends "main/wrapper.html"%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-inner">
                <ul class="breadcrumb">
                    <li><a href="/">Главная страница </a> </li>
                   <li class="active">  \  Распространение</li>
                </ul>
                <h1 id="page-top">Распространение COVID-19</h1>
                <p>"COVID-19 - это <strong>новое заболевание</strong> , и мы<strong> все еще изучаем, как оно распространяется</strong>" по данным Центров США по контролю и профилактике заболеваний (CDC)</p>
                <p>В целом, респираторная вирусная инфекция может возникать через: </p>
                <ul>
                    <li><strong>контакт</strong> ( прямой или косвенный)</li>
                    <li><strong>брызги капли в ближней</strong> передаче</li>
                    <li><strong>аэрозоль при</strong> передаче на <strong>большие расстояния </strong> (воздушная передача)</li>
                </ul>

                <h2>Тесный контакт (6 футов, 1.8 метра) и дыхательные капли</h2>
                <p>"Считается, что вирус распространяется в основном от человека к человеку.</p>
                <ul>
                    <li>Между людьми, которые находятся в <strong> тесном контакте </strong> друг с другом (в пределах примерно 1,8 метров)</li>
                    <li>Через <strong>дыхательные капли</strong>, возникающие, когда зараженный человек кашляет, чихает или  <strong>разговаривает</strong>.</li>
                </ul>
                <p>Эта идея о том, что крупные капли вирусной слизи являются основным способом передачи, руководствуется рекомендацией CDC США поддерживать расстояние <STRONG>не менее 1,8 метров</STRONG>: «Поддержание хорошего социального расстояния (около 6 футов) очень важно для предотвращения распространения COVID-19 " </p>
                <p>Некоторые эксперты считают, что <strong>6 футов (1,8 метра) недостаточно</strong>.</p>

                <h3>Воздушные потоки</h3>
                <p> "<strong>Большие дыхательные капли </strong> (> 5 мкм) остаются в воздухе только в течение короткого времени и  <strong>перемещаются только на короткие расстояния</strong>, обычно <1 м» (менее 3,3 фута)</p>

                <p>"Вирусные маленькие (<5 мкм) <strong>аэрозольные капли</strong> могут оставаться в воздухе и <strong> преодолевать большие расстояния</strong>, > 1 м» (более 3,3 фута) </p>
                <p>Исследование передачи, происходящее в ресторане между людьми на расстоянии более 1 метра, показало, что "<strong>сильный поток воздуха из кондиционера мог распространять капли</strong>"</p>

                <h3>Влажность (лучше всего, если между 50% и 80%)</h3>
                <p>"Предполагается, что температура и влажность модулируют жизнеспособность вирусов, влияя на свойства вирусных поверхностных белков и липидных мембран». Относительная влажность  (относительная влажность или  <em>насыщенность: </em>состояние парового равновесия в воздухе помещения)
                    <strong>влияет на все инфекционные капли с респираторными вирусами</strong>, <strong>независимо от их источника </strong> (<strong>дыхательные пути или аэрозоль </strong>от какой-либо жидкости) and<strong> местоположения</strong> <strong>(в воздухе</strong> или <strong> на поверхности</strong>).
                  Следовательно, относительная влажность влияет на все пути передачи, но наиболее сильно влияет на передачу по воздуху.</p>

                <p>"Измерения влажности внутри помещений в 40 жилых квартирах в Нью-Йорке (19) и в 6 высококачественных коммерческих зданиях на Среднем Западе (20) показали, что давление паров в помещении ниже 10 мб или <strong>относительной влажности в помещении ниже 24% зимой</strong>" </p>
                <p>Эксперименты, проведенные в исследовании, показали "<strong> поразительную корреляцию устойчивости зимних вирусов при низкой относительной влажности</strong> (<strong>20–50%</strong>), в то время как стабильность<strong> летних или круглогодичных вирусов усилилась при более высокой относительной влажности (80%)</strong>" </p>


                <h2>Воздушная передача</h2>
                <p>ВОЗ заявляет, что «Респираторные инфекции могут передаваться через капли разных размеров: когда
                    <strong>частицы капель</strong> имеют диаметр> 5-10 мкм, их называют дыхательными каплями, а <strong>когда они имеют диаметр <5 мкм, их называют Ядра капель</strong>.
                    Согласно современным данным, <strong>COVID-19 в основном передается между людьми через дыхательные капли и пути контакта</strong>" </p>

                <p>ВОЗ определяет <strong>передачу по воздуху</strong> как "распространение инфекционного агента, вызванного распространением ядер капель, которые остаются заразными, когда находятся в воздухе на больших расстояниях и во времени"</p>



                <h2>Объекты и Поверхности</h2>
                <p> Вирус может распространяться, <strong>касаясь предмета или поверхности </strong> присутствующим у зараженного человека, а<strong> затем касаясь рта, носа или глаз</strong>.</p>

                <p>Поверхностное загрязнение, наблюдаемое в цитированном выше исследовании:</p>
                <ul>
                    <li><strong> Компьютерная мышь </strong> (ICU 6/8, 75%; GW 1/5, 20%)</li>

                    <li><strong> Урны</strong> (ICU 3/5, 60%; GW 0/8)</li>

                    <li><strong>Больничные поручни</strong> (ICU 6/14, 42.9%; GW 0/12)</li>

                    <li><strong>Дверные ручки</strong> (GW 1/12, 8.3%)</li>

                </ul>

                <p>76,5% всех личных вещей, отобранных в Медицинском центре Университета Небраски (UNMC), были определены как положительные на SARS-CoV-2 </p>

                <p>Из этих образцов 81,3% различных личных вещей были положительными с помощью ПЦР, которая включала:</p>

                <ul>

                    <li><strong>Снаряжение для упражений</strong></li>

                    <li><strong>Медицинское оборудование </strong>(спирометр, пульсоксиметр, назальная канюля)</li>

                    <li><strong>ПК  </strong>и<strong> iPad</strong></li>

                    <li><strong>Очки для чтения</strong><br><br>Другие исследования:<br><br></li>
                    <li><strong>Сотовые телефоны</strong>(83,3% положительных на вирусную РНК)</li>
                    <li><strong>Пульты управления </strong>для комнатных телевизоров (64,7% положительных)</li>
                    <li><strong>Туалеты </strong>(81,0% положительных)</li>
                    <li><strong>Прикроватные тумбочки и перила</strong>(75.0%)</li>
                    <li><strong>Поверхности помещения</strong>(80,4% от всей выборки)</li>
                    <li><strong>Оконные выступы</strong> (81.8%)</li>
                </ul>

                <h3>Продолжительность загрязнения на предметах и​поверхностях</h3>
                <p>Хотя титр вируса был значительно снижен, жизнеспособный SARS-CoV-2 измеряли в течение этого промежутка времени: </p>
                <ul>
                    <li><strong>Пластик</strong>: до<strong> 2-3 дней</strong></li>
                    <li><strong>Нержавеющая сталь</strong>l: до <strong>2-3 дней</strong></li>
                    <li><strong>Картон</strong>: до <strong>1 дня</strong></li>
                    <li><strong>Медь</strong>: до <strong>4 часов</strong></li>
                </ul>
                <br>
                <p align="center">[<a href="#page-top">на вверх ↑</a>]</p>


            </div>
        </div>
        <div class="col-md-4 adright"></div>
    </div>
</div>
{% endblock %}