{% extends "main/wrapper.html"%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-inner">
                <ul class="breadcrumb">
                    <li><a href="/">Главная страница </a> </li>
                   <li class="active">  \  Инкубационный период</li>

                </ul>

               <h3>Инкубационный период COVID-19</h3>
                <p>Инкубационный период (<strong>время от воздействия до развития симптомов</strong>) вируса составляет от 2 до 14 дней на основании следующих источников: </p>
                <ul>
                    <li><strong>Всемирная организация здравоохранения</strong> (ВОЗ) сообщила, что инкубационный период для COVID-19 составляет от<strong> 2 до 10 дней</strong>. </li>
                    <li><strong>Национальная комиссия здравоохранения  (НКЗ)</strong> Китая, первоначально оценила инкубационный период от <strong> 10 до 14 дней</strong>. </li>
                    <li>По оценкам США, инкубационный период для COVID-19 составляет от <strong>2 до 14 дней</strong>. </li>
                    <li>DXY.cn, ведущее китайское онлайн-сообщество для врачей и специалистов в области здравоохранения, сообщает об  <strong>инкубационном периоде «от 3 до 7 дней, до 14 дней»</strong>.</li>
                </ul>

                <h4 id="24">Инкубационный период до 24 дней? </h4>
                <p>В исследовании, <strong>опубликованном 9 февраля</strong>, было установлено, что инкубационный период <strong>составляет 24 дня</strong> (диапазон: <strong>0-24 дня</strong>; медиана: <strong>3,0 дня</strong>).</p>

                <p>На пресс-конференции 10 февраля <strong>ВОЗ</strong> заявила, что:</p>
                <ul>
                    <li><strong>очень длительный инкубационный период может отражать двойную экспозицию.</strong></li>
                    <li>24 дня представляли собой постороннее наблюдение, которое необходимо принимать во внимание в контексте основного вывода исследования.</li>
                    <li>ВОЗ <strong>не рассматривает вопрос об изменении рекомендаций относительно инкубационных периодов.</strong>.</li>
                </ul>

                <h4>Назван средний инкубационный период COVID-19</h4>
                <p>Сотрудники Школы общественного здравоохранения имени Джона Хопкинса в Блумберге (США) назвали средний инкубационный период COVID-19. Об этом сообщается на сайте Роспотребнадзора РФ.</p>
                <p>После проведения анализа данных SARS-CoV-2, который является возбудителем COVID-19, выяснилось, что средний инкубационный период заболевания <strong>равен 5,1</strong> дня.
                    Согласно данным, полученным в ходе исследования, 14-дневный карантин является разумной мерой предосторожности.</p>
                <p>Отмечается, что у <strong>97,5 процента</strong> людей симптомы SARS-CoV-2 проявляются в течение <strong>11,5 дней</strong> после заражения. В ведомстве подчеркнули,
                    что точная оценка инкубационного периода заболевания позволит лучше оценить динамику вспышки COVID-19 и разработать эффективные меры контроля.</p>

                <h3>Важность знания инкубационного периода</h3>
                <p>Понимание инкубационного периода очень важно для органов здравоохранения, поскольку оно позволяет им внедрять более эффективные системы карантина для людей,
                    подозреваемых в переносе вируса, в качестве способа контроля и, как можно надеяться, предотвращения распространения вируса.</p>

                <h3>Сравнение с другими вирусами </h3>
                <p>Для сравнения, инкубационный период для обычного гриппа (сезонного гриппа) обычно составляет около 2 дней. Инкубационный период для других коронавирусов: ОРВИ 2-7 дней; MERS (Ближневосо́чный респирато́рный синдро́м ) 5 дней, как правило (от 2 до 14 дней). </p>

                <div class="table-responsive" style="max-width:500px">
                    <table width="347" class="table table-hover table-bordered table-condensed table-list">
                        <thead>
                        <tr class="table table-striped table-bordered">
                            <th>Вирус</th>
                            <th style="text-align:right">Инкубационный период<br>( типичные случаи) </th>
                        </tr>
                        <tr class="table table-striped table-bordered">
                            <td align="left"><div align="left">Новый коронавирус <br>(COVID-19)</div></td>=
                            <td align="right">2-14 или 0-24 дней <span class="style1">*</span> </td>
                        </tr>
                        <tr class="table table-striped table-bordered">
                            <td align="left"><div align="left">ОРВИ</div></td>
                            <td align="right"><a href="https://www.who.int/csr/sars/clinical/en/">2-7 дней</a>,<br>до 10 дней </td>
                        </tr>
                        <tr class="table table-striped table-bordered">
                            <td align="left"><div align="left">MERS</div></td>
                            <td align="right"><a href="https://www.cdc.gov/coronavirus/mers/clinical-features.html">5 дней</a> (диапазон: 2-14) </td>
                        </tr>
                        <tr class="table table-striped table-bordered">
                            <td align="left"><div align="left">Свиной грипп </div></td>
                            <td align="right"><a href="https://www.ncbi.nlm.nih.gov/books/NBK513241/">1-4 дней</a>,<br>до 7 дней </td>
                        </tr>
                        <tr class="table table-striped table-bordered">
                            <td align="left"><div align="left">Сезонный грипп </div></td>
                            <td align="right">2 дня (диапазон: 1-4) </td>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-4 adright"></div>
    </div>
</div>
{% endblock %}