{% extends "main/wrapper.html"%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="content-inner">
                <ul class="breadcrumb">
                    <li><a href="/">Главная страница </a> </li>
                   <li class="active">  \  Симптомы</li>
                </ul>
                <h1 id="page-top">Симптомы коронавируса (COVID-19) </h1>
                <div style="color:#999">
                    <blockquote>
                        <p>Сообщаемые заболевания варьировались от людей с легкими симптомами до людей, тяжело больных и умирающих. </p>
                        <p>Симптомы могут включать в себя: </p>
                        <ul>
                            <li>Высокая температура </li>
                            <li>Кашель</li>
                            <li>Сбивчивое дыхание </li>
                        </ul>
                    </blockquote>
                </div>
                <div style="margin-top:50px" class="spaced">
                    <strong>Контент:</strong>
                    <ul><br>
                        <li><strong><a href="#typical">Типичные симптомы</a></strong></li>
                        <li><strong><a href="#mild">80% случаев легкие </a></strong></li>
                        <li><strong><a href="#pre">Существующие условия</a></strong></li>
                        <li><strong><a href="#duration">Как долго длится симптомы? </a></strong><a href="#duration">(продолжительность от начала до выздоровления) </a></li>
                        <li><a href="#info">Информация о симптомах коронавируса от государственных чиновников здравоохранения</a></li>
                    </ul>
                </div>

                <h2 id="typical">Типичные симптомы</h2>
                <p>COVID-19 обычно вызывает симптомы гриппа, включая жар и кашель. </p>
                <p>У некоторых пациентов, особенно пожилых и других людей с другими хроническими заболеваниями, эти симптомы могут перерасти в пневмонию с стеснением в груди, болью в груди и одышкой.</p>
                <p> Болезнь начинается с лихорадки, сопровождаемой сухим кашлем.</p>
                <p><strong>Через неделю это может привести к одышке</strong> , при этом около 20% пациентов нуждаются в стационарном лечении.<br>
                    <br>Примечательно, что инфекция COVID-19<strong> редко вызывает насморк</strong> чихание или боль в горле (эти симптомы наблюдались только у 5% пациентов).<strong>Боль в горле, чихание и заложенный нос чаще всего являются признаками простуды</strong>.</p>
                <p align="center">[<a href="#page-top">на вверх ↑</a>]</p>

                <h2 id="mild">80% случаев легкие </h2>
                <p>На основании всех 72 314 случаев COVID-19, подтвержденных, подозреваемых и бессимптомных случаев в Китае по состоянию на 11 февраля, статья китайского CCDC, опубликованная 17 февраля и опубликованная в Китайском журнале эпидемиологии, показала, что:</p>
                <ul class="story-body__unordered-list">
                    <li class="story-body__list-item"><strong>80,9% инфекций являются легкими </strong> (с симптомами, похожими на грипп) и <strong>могут вылечиться в домашних условиях</strong>.</li>
                    <li class="story-body__list-item"><strong>13,8% являются тяжелыми</strong>развиваются тяжелые заболевания, включая <strong>пневмонию </strong>и <strong>одышку</strong>.</li>
                    <li class="story-body__list-item"> <strong>4,7% как критические </strong>и могут включать: <strong>дыхательную недостаточность</strong>, <strong>септический шок</strong>, и <strong>полиорганную недостаточность</strong>.</li>
                    <li class="story-body__list-item">примерно в 2% зарегистрированных случаев вирус смертелен.</li>
                    <li class="story-body__list-item">Риск смерти увеличивается с возрастом.</li>
                    <li class="story-body__list-item">Относительно мало случаев наблюдается среди детей.</li>
                </ul>
                <p align="center">[<a href="#page-top">на вверх ↑</a>]</p>
                <h2 id="pre">Существующие условия</h2><br>

                <p><span class="story-body__list-item">Предсуществующие заболевания, которые подвергают пациентов повышенному риску: </span></p>
                <ol>
                    <li><span class="story-body__list-item">сердечно-сосудистые заболевания</span></li>
                    <li><span class="story-body__list-item">диабет</span></li>
                    <li><span class="story-body__list-item">хроническая респираторная болезнь</span></li>
                    <li><span class="story-body__list-item">гипертония</span></li>
                </ol>
                <p>Тем не менее, некоторые другие здоровые люди, кажется, развивают тяжелую форму пневмонии после заражения вирусом. Причина этого расследуется, поскольку мы пытаемся узнать больше об этом новом вирусе.</p>
                <p align="center">[<a href="#page-top">на вверх ↑</a>]</p>

                <h2 id="duration">Как долго длится симптомы?</h2>
                <p>Используя имеющиеся предварительные данные, отчет ВОЗ-Китай, опубликованный 28 февраля,
                <ul>
                   <li><strong>легкие случаи</strong>: примерно <strong>2 недели</strong></li>
                   <li><strong>тяжелое или критическое</strong> заболевание:<strong> 3 - 6 недель</strong> </li>
                   <li>время от начала до развития тяжелой болезни (включая гипоксию):<strong> 1 неделя</strong></li>
                </ul>который основан на 55 924 лабораторно подтвержденных случаях, наблюдалось следующее среднее время от появления симптомов до клинического выздоровления:</p>
                <p>У умерших пациентов время от появления симптомов до исхода колеблется от 2 до 8 недель.</p>
                <p align="center">[<a href="#page-top">на вверх ↑</a>]</p>
                <br>

                <h2>Симптомы наблюдаются у госпитализированных пациентов с COVID-19</h2>

                Ниже мы перечисляем симптомы, с
                <strong> процентами, представляющими долю пациентов с таким симптомом</strong>
                что наблюдается у госпитализированных пациентов, протестированных и идентифицированных как имеющие лабораторно подтвержденную инфекцию COVID-19. Эти данные относятся к
                <strong>госпитализированным пациентам</strong>
                <br><br>

                <h3>Результаты исследования Wang et al, опубликованного на JAMA и основанного на 138 госпитализированных пациентах </h3>
                <div class="table-responsive" style="max-width:350px">
                    <table class="table table-hover table-bordered table-condensed table-list">
                        <thead><tr bgcolor="#FCF8F8">
                            <td height="35" colspan="2">
                                <div align="left"><strong>Общие симптомы включают в себя: </strong><br></div>
                                <div align="right"></div></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="scrollable bordered">
                            <td width="287"><div align="left"><strong>Высокая температура</strong></div></td>
                            <td width="82"><div align="right">98.6%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Усталость</strong></div></td>
                            <td><div align="right">69.6%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Сухой кашель</strong></div></td>
                            <td><div align="right">59.4%</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p><span>Среднее время наблюдается:</span></p>
                <ul>
                    <li><span>от <strong>первого симптома</strong> до → <strong>Отдышки</strong> (Сбивчивое дыхание) = <strong>5.0 дней</strong></span></li>
                    <li><span><span>от <strong>первого симптома</strong></span> до <span>→ </span> <strong>Госпитализации</strong> = <strong>7.0 дней</strong></span></li>
                    <li><span> <span><span>от <strong>первого симптома</strong></span> до <span>→ </span> <strong>ОРДС </strong>(Острый респираторный дистресс-синдром) = </span> <strong>8.0 дней </strong> </span></li>
                </ul>
                <br>

                <h3>Результаты исследования Huang et al, опубликованного на The Lancet и основанного на 41 госпитализированном пациенте.</h3>
                <div class="table-responsive" style="max-width:350px">
                    <table class="table table-hover table-bordered table-condensed table-list">
                        <thead>
                        <tr bgcolor="#FCF8F8">
                            <td height="35" colspan="2">
                                <div align="left">ОБЩИЕ СИПМТОМЫ <br>В НАЧАЛЕ БОЛЕЗНИ </div>
                                <div align="right"></div></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="scrollable bordered">
                            <td width="287"><div align="left"><strong>Высокая температура</strong></div></td>
                            <td width="82"><div align="right">98%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Кашель</strong></div></td>
                            <td><div align="right">76%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Миальгия </strong>(боли в мыщцах) <strong><br>или Усталость</strong></div></td>
                            <td><div align="right">44%</div></td>
                        </tr>
                        <tr class="scrollable bordered" bgcolor="#FCF8F8">
                            <td height="37" colspan="2"><div align="left">РЕЖЕ ВСТРЕЧАЮЩИЕ СИМПТОМЫ: </div> <div align="right"></div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Появление мокроты </strong></div></td>
                            <td><div align="right">28%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Головная боль</strong></div></td>
                            <td><div align="right">8%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Кровохарканье<br>
                            </strong></div></td>
                            <td><div align="right">5%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td><div align="left"><strong>Диарея</strong></div></td>
                            <td><div align="right">3%</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>



                <h3>Результаты исследования Chen et al, опубликованного на The Lancet и основанного на 99 госпитализированных пациентах </h3>
                <div class="table-responsive" style="max-width:350px">
                    <table class="table table-hover table-bordered table-condensed table-list">
                        <thead>
                        <tr bgcolor="#FCF8F8">
                            <td height="35" colspan="3">
                                <div align="left"><strong>Признаки и симптомы при поступлении</strong></div>
                                <div align="right"></div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Высокая температура</strong></div></td>
                            <td width="52"><div align="right">83%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Кашель</strong></div></td>
                            <td><div align="right">82%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Отдышка</strong></div></td>
                            <td><div align="right">31%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Мышечная боль</strong></div></td>
                            <td><div align="right">11%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Дезориентация</strong></div></td>
                            <td><div align="right">9%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Головная боль</strong></div></td>
                            <td><div align="right">8%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Боль в горле</strong></div></td>
                            <td><div align="right">5%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Ринорея (насморк) </strong></div></td>
                            <td><div align="right">4%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Грудная боль</strong></div></td>
                            <td><div align="right">2%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Диарея</strong></div></td>
                            <td><div align="right">2%</div></td>
                        </tr>
                        <tr class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Тошнота и рвота</strong></div></td>
                            <td><div align="right">1%</div></td>
                        </tr>
                        <tr bgcolor="#F0F0F0" class="scrollable bordered">
                            <td colspan="2"><div align="left"><strong>Более одного признака <br>или симптома</strong></div></td>
                            <td><div align="right"><strong>90%</strong></div></td>
                        </tr>
                        <tr bgcolor="#F2F2F2">
                            <td width="76"><div align="left"></div></td>
                            <td width=100% bgcolor="#F8F8F8" class="scrollable bordered"><div align="left"><strong>Высокая температура, кашель, отдышка</strong></div></td>
                            <td bgcolor="#F8F8F8" class="scrollable bordered"><div align="right">15%</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h4 id="info">Всемирная организация здравоохранения </h4>
                <p >ВОЗ выпустила временное руководство по клиническому ведению подозрительных случаев, в котором говорится, что </p>
                <ul>
                    <li>"nCoV может проявляться <strong>легким</strong>, <strong>средним</strong> или <strong>тяжелым</strong> заболеванием; последняя включает тяжелую пневмонию, ОРДС, сепсис и септический шок."</li>
                </ul>
                <p align="center">[<a href="#page-top">на вверх ↑</a>]</p>






            </div>
        </div>
        <div class="col-md-4 adright"></div>
    </div>
</div>
{% endblock %}